* {
    grid-area: header;
}

.headerContainer {
    background-color: #27263D;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

img {
    width: 60px;
    height: 60px;
    margin-left: 100px;
    margin-top: 10px;
}

.header_loginBlock {
    margin-right: 50px;
    margin-top: 30px;
}

.header_loginBlock a {
    color: white;
    text-decoration: none;
    transition: 0.5s all;
    font-size: 17px;
}

.header_loginBlock a:hover {
    font-size: 18px;
    transition: 0.5s all;
    font-weight: 600;
}

.headerContainer_logo {
    display: inline-block;
    color: white;
    margin-right: 10px;
}

.button_logOut{
    padding: 5px 30px;
    margin-top: 0px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
}

.button_logOut:hover {
    transition: 0.5s all;
    background-color: royalblue;
    color: white;
}
