.profile {
    position: relative;
}


.profile img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.profile_changeBg {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 0px;
    transition: 0.5s all;
    width: 20px;
    border-radius: 100%;
}

.profile_changeBg img {
    height: 0px;
    transition: 0.5s all;
    object-fit: contain;
}

.profile_changeBg_active{
    height: 20px;
    padding: 10px;
    background-color: white;
    transition: 0.5s all;
}

.profile_changeBg_active img {
    height: 20px;
    transition: 0.5s all;
}


