.loginMain {
    margin: 0px auto;
    margin-top: 10%;
    max-width: 300px;
    background-color: #6E6C78;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: Roboto, sans-serif;
}

@media (max-width: 500px) {
    .loginMain {
        margin-top: 40%;
    }
}

.loginMain div input {
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
}

.loginMain_header {
    margin-top: 0px;
    margin-bottom: 10px;
}

.loginMain_email, .loginMain_password {
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.loginMain_rememberMe {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.loginMain_rememberMe input {
    cursor: pointer;
}

.loginMain_error {
    display: inline-block;
    border: 2px solid red;
    padding: 5px;
    font-weight: bold;
}

.loginMain_buttonSubmit {
    padding: 5px 30px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
}

.loginMain_buttonSubmit:hover {
    transition: 0.5s all;
    background-color: royalblue;
    color: white;
}