.aside {
    grid-area: aside;
    background-color: #7AA899;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 10px;
}

.aside a {
    text-decoration: none;
    color: black;
}

.aside a:focus {
    color: green;
    font-size: 18px;
    font-weight: 500;
}