.message {
   margin-top: 5px;
    font-size: 14px;
    flex: 1 1 auto;
    min-height: 0px;
}

.message img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.message span {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.myMessage {
    margin-top: 5px;
    margin-right: 10px;
    flex: 1 1 auto;
    min-height: 0px;
}

.myMessage img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.myMessage span {
    display: inline-block;
    border-bottom: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
}