.personalInformation {
    margin-top: 10px;
    position: relative;
}

.personalInformationTitle {
    font-size: 25px;
    font-weight: 600;
}

.personalInformationInfo {
    margin-top: 10px;
    display: flex;
}

.personalInformation img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: auto 0px;
    border-radius: 100px;
}

.info {
    margin-left: 10px;
    margin-top: 10px;
}

.infoName {
    margin-bottom: 20px;
    font-size: 20px;
}

.aboutMe {
    margin-bottom: 5px;
}

.jobStatus{
    margin-bottom: 5px;
}

.contactsTitle{
    font-weight:600
}

.info_contactsOptions{
    font-size: 14px;
}
