*{
    grid-area: header;
}

.headerContainer {
    background-color: green;
    height: 80px;
    width: 100%;
}

img {
    width: 60px;
    height: 60px;
    margin-left: 100px;
    margin-top: 10px;
}